* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg: #010135;
    --accent: #B7B7FD;
}

.menu {
    margin-top: 15px;
}
  
.menu > li {
    display: inline;
    margin-right: 30px;
}
  
.menu > li:last-of-type {
    margin-right: 0;
}

.menu-item {
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    margin-bottom: 0px;

    transition: all 0.3s linear;
}

.menu-item:hover {
    background-color: var(--bg);
    color: var(--accent);
    border: none;
    border-radius: 5px;
}

.links {
    text-decoration: underline;
}

a {
    color: var(--bg);
    text-decoration: none;
}

body {
    font-family: 'Cabin', sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: var(--accent);
    background-color: var(--bg);
}

.page {
    position: relative;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    width: 70%;
    height: 70%;
    padding: 0px 50px;
    border-radius: 15px;
    background-color: var(--accent);
    color: var(--bg);
    box-shadow: 0px 0px 15px 5px #6c6cbd;
}

.main-heading {
    font-weight: bold;
    margin-top: 30px;
}

.main-heading, .name {
    display: inline;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #010135;
    margin: 1em 0;
    width: 105%;
    align-items: center;
    padding: 0;
}

.header {
    position: sticky; 
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--bg);
    background-color: var(--accent);
    flex-wrap: wrap;
    font-weight: bold;
    font-size: 18px;
    
    width: 100%;
    padding-top: 50px;
}

.title {
    margin: 10px 0;
}

.Socials {
    width: 100%;
} 

.socials-list {
    margin-top: 15px;
}

.socials-list > li {
    display: block;
    padding: 5px 0;
}

.logo {
    width: 20px;
    margin-right: 20px;
    margin-left: 10px;

    transition: all linear 0.3s;
}

.Contact {
    margin-bottom: 30px;
}

.contact-list {
    margin-top: 15px;
}

.contact-list > li {
    display: block;
    padding: 5px 0;
}

#particles-js {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}