* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg: #010135;
    --accent: #B7B7FD;
}

.menu {
    margin-top: 15px;
}
  
.menu > li {
    display: inline;
    margin-right: 30px;
}
  
.menu > li:last-of-type {
    margin-right: 0;
}

.menu-item {
    padding: 5px 10px;
    text-align: center;
    display: inline-block;

    transition: all 0.3s linear;
}

.menu-item:hover {
    background-color: var(--bg);
    color: var(--accent);
    border: none;
    border-radius: 5px;
}

.links {
    text-decoration: underline;
}

.links:hover {
    color: #575799;
}

a {
    color: var(--bg);
    text-decoration: none;
}

body {
    font-family: 'Cabin', sans-serif;
    font-size: 17px;
    color: var(--accent);
    background-color: var(--bg);
}

.page {
    position: relative;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    width: 70%;
    height: 70%;
    padding: 0px 50px;
    border-radius: 15px;
    background-color: var(--accent);
    color: var(--bg);
    box-shadow: 0px 0px 15px 5px #6c6cbd;
    overflow-y: scroll;
}

#particles-js{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

p {
    line-height: 25px;
}

.main-heading {
    font-weight: bold;
}

.main-heading, .name {
    display: inline;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #010135;
    margin: 1em 0;
    width: 105%;
    align-items: center;
    padding: 0;
}

.header {
    /*position: sticky; */
    top: 0px;
    left: 0px;
    display: flex;
    line-height: default;
    flex-direction: row;
    justify-content: space-between;
    color: var(--bg);
    background-color: var(--accent);
    flex-wrap: wrap;
    font-weight: bold;
    font-size: 18px;
    
    width: 100%;
    padding-top: 60px;
    z-index: 999;
}

.title {
    margin: 20px 0;
}

.grid {
    background-color: #6c6cbd;
    width: auto;
    height: auto;
    padding: 20px;
    border-radius: 5px;
    margin: auto auto;
    margin-top: 10px;
}

.grid-item {
    width: 30%;
    max-width: 300px;
    padding-bottom: 20px 10px;
}

.grid-item img {
    width: 100%;
    transition: all linear 0.3s
}

.grid-item img:hover {
    padding: 10px;
    background-color: #4c4c90;
    border-radius: 5px;
    transform: scale(1.2);
    position: relative;
    z-index: 1;
}

.grid-item--width2 img:hover {
    padding: 10px;
    background-color: #4c4c90;
    border-radius: 5px;
    transform: scale(1.5);
    position: relative;
    z-index: 1;
}

.Socials {
    width: 100%;
} 

.socials-list {
    margin-top: 15px;
}

.socials-list > li {
    display: block;
    padding: 10px 0;
}

.logo {
    width: 20px;
    margin-right: 20px;
    margin-left: 10px;
    margin-bottom: -5px;

    transition: all linear 0.2s;
}

.logo:hover {
    transform: scale(1.3);
}

.Contact {
    padding-bottom: 60px;
}

.contact-list {
    margin-top: 15px;
}

.contact-list > li {
    display: block;
    padding: 10px 0;
}

/* Mobile styling */
@media only screen and (max-width: 450px) {

    html {
        min-height: 100vh;
    }

    body {
        font-size: 13px;
        min-height: 100vh;
        color: var(--bg);
        background-color: var(--accent);
    }

    .header {
        flex-direction: column !important;
        justify-content: first baseline !important;
    }

    .main-heading {
        font-size: 28px;
    }

    .menu {
        font-size: 15px;
    }

    .menu > li {
        margin-right: 10px;
    }

    .menu > li:first-of-type > a {
        margin-left: 0;
        padding-left: 5px;
    }

    .page {
        position: relative;
        margin-top: 0;
        overflow-y: scroll;
        width: 100% !important;
        height: 100% !important;
        padding: 0px 20px;
        background-color: var(--accent);
        color: var(--bg);
        border-radius: 0;
        box-shadow: none;
    }

    .grid {
        background-color: #6c6cbd;
        width: 85%;
        height: auto;
        padding: 7px;
        border-radius: 5px;
        margin: auto auto;
        margin-top: 10px;
    }

    .grid-item {
        width: 30%;
        max-width: 150px;
        padding-bottom: 7px;
    }
    
    .grid-item img {
        width: 90%;
        transition: all linear 0.3s
    }
    
    .grid-item img:hover {
        padding: 5px;
        background-color: #4c4c90;
        border-radius: 5px;
        transform: scale(1.2);
        position: relative;
        z-index: 1;
    }
    
    .grid-item--width2 img:hover {
        padding: 5px;
        background-color: #4c4c90;
        border-radius: 5px;
        transform: scale(1.5);
        position: relative;
        z-index: 1;
    }

    p {
        line-height: 20px;
    }

    #particles-js {
        visibility: hidden;
    }
}
